
<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <form method="post" action="/home/uploadimage" enctype="multipart/form-data">
            <input type="text" name="sometext" placeholder="Some Text" class="form-control"/>
            <br/>
            <input type="file" name="imagefile"/>
            <br/>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
</div>